@import "tailwindcss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #151519;
}

/* #page3 .over:hover .igs{
  width: 100%;
  height: 100%;
}

#page3 .over:hover .igs h2,#page3 .over:hover .igs h5{
    margin-top: 10px;
    scale: 2;
    opacity: 1;
} */

#page3 .igs.hoveractive{
    width: 100%;
    height: 100%;
}

#page3 .igs.hoveractive h2,#page3 .igs.hoveractive h5{
    margin-top: 10px;
    scale: 2;
    opacity: 1;
}
